@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: border-box;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#fff;
}

html{
    font-size: 64%;
    overflow-x: hidden;
}

section{
    padding: 3rem 9% 4rem;
    scroll-margin-top: 6rem;
}
body{
    background: #272625;
    color: var(--text-color);
}
.header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:#272625;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header a {
    text-decoration: none;
}


.header .sticky{
    border-bottom: .1rem  solid rgba(165, 161, 161, 0.2);
}
.logo{
    font-size:2.5rem;
    color:var(--text-color);
    font-weight: 600;
    cursor:default;
}

.navbar a{
    font-size: 1.7rem;
    color:var(--text-color);
    margin-left: 4rem;
    transition: .3s;
    text-decoration: none;

}

/*a.active pour signaler que la classe active(Home) ces notre classe active*/
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: #ff0000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.home-img img{
    border-radius: 48px;
}

.home-content h3{
    font-size:3.2rem;
    font: weight 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;

}
span{
    color:var(--main-color);
}

.home-content h1{
    font-size:5.6rem;
    font: weight 700;
    line-height: 1.3;
}
.home-img img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;/*faire en sorte que la photo bouge*/
}

/*faire en sorte que la photo bouge*/
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
.home-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color:v#ff0000;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5sec ease;
}
.social-media a:hover{
    background: var(--main-color);
    color:var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background:#0A0A0A;
    border-radius: 6rem;
    box-shadow: 0 0 1rem 	#f2f2f2;
    font-size: 1.6rem;
    color:	#f2f2f2;
    letter-spacing: .3rem;
    font-weight: 600;
    transition: .5s ease;
    text-decoration: none;
}
.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    background: #272625;
}
.about-img img{
    width: 35vw;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.6rem;
    margin:2rem 0 3rem;
}

.services h2 {
    margin-bottom: 5rem;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    gap:2rem;
}
/*disposition des differentes de div de Knowledges*/
.services-container .services-box{
    flex: 1 1 30rem;
    background: #1D1C1B;
    padding: 3rem 3rem 4rem 3rem;
    border-radius: 2rem;
    text-align: center;
    color: white; 
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}
/*Transform and transition sur les div*/
.services-container .services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.services-box i {
    font-size:7rem;
    color: var(--main-color);
}
.services-box h3 {
    font-size:2.6rem;

}
.services-box p {
    font-size: 14px;
    margin: 1rem;
    color: #cccccc;
    line-height: 2.5rem;
}

.portfolio{
    background:#272625;
}
.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap:2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    
}

.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(165, 161, 161, 0.2),#272625);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    overflow-y: auto;
    padding: 2rem 3rem;
    font-size: 1.4rem;
    line-height: 1.6;
    max-height: 100%
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 2rem;
}
.portfolio-layer  p{
    font-size: 1rem;
    margin-bottom: 1.3rem;
}
.portfolio-layer  a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.portfolio-layer ul {
    list-style-type: disc;
    padding-left: 1.4rem;
    text-align: left;
    margin: 1rem 0;
}

.portfolio-layer li {
    font-size: 1.0rem;
    line-height: 1.3;
    margin-bottom: 0.3rem;
    white-space: normal;
    display: list-item;
}


  
/* --- STYLE POUR LES CARTES DE PROJET --- */
  .portfolio-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
  }
  
  .project-card {
    display: flex;
    flex-direction: row;
    background-color: #1e1e1e;
    color: white;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 40px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    padding: 48px;
    gap: 14px;
    align-items: center;
  }
  
  .project-text {
    flex: 1;
    padding-right: 24px;
  }
  
  .project-text h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ccc;
  }
  
  .project-features {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
  }
  
  .project-features li {
    background-color: #3a3a3a;
    border-radius: 20px;
    padding: 10px 16px;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .view-project {
    margin-top: 12px;
    padding: 8px 16px;
    background-color: #00bcd4;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .view-project:hover {
    background-color: #0097a7;
  }
  
  .project-images {
    flex: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
  }
  
  .project-images img {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.5);
  }

.contact h2{
    margin-bottom: 3rem;
    color: white;
    

}


.contact form{
    max-width: 70rem;
    margin:1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    

}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding:1.5rem;
    font-size:1.6rem;
    color: var(--text-color);
    background: #1e1e1e;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    
}

.footer-text p{
    font-size: 1.6rem;
    color: #fff;
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transform: .5s ease;
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}


/*Responsivität*/
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }

.services{
    padding-bottom: 7rem;
}
.portfolio{
    padding-bottom: 7rem;
}
.contact{
    min-height: auto;
}

}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }
   .navbar{
    position: absolute;
    top: 100%;
    left:0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0,0,0, .2) ;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
    display: none;
   }
   .navbar.active{

    display: block;

   }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }
    .about img{
        width: 70 vw;
        margin-top: 4rem;
    }

.services h2 {
    margin-bottom: 3rem;
}
.portfolio h2{
    margin-bottom: 3rem;
}
.portfolio-container{
    grid-template-columns: repeat(2,1fr);
}

.portfolio-layer {
    padding: 1rem 2rem;
}


}/*Responsivität ende*/


@media (max-width: 768px){
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .contact form .input-box {
        width: 100%;
    }

}
@media (max-width: 365px){
    .home-img img{
        width: 90vw;
    }
    .about-img img{
        width: 90vw;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }

}